kfc -p sexy-gnometerm

__scc_files(){
    find \
        meson/meson.build submodules/meson.build meson.build \
        scripts \
        Makefile \
        meson_options.txt \
        kfc-utils kfc-cli kfc-test\
    |egrep '\.txt$|Makefile$|\.sh$|\.build$|\.h$|\.c$'|egrep -v 'kfc-utils-palettes.c$'|egrep -v 'kfc-utils-palettes.c$'\
    |sort -u\
    |tr '\n' ' '
}

__scc_report(){
    scc -v -f wide --by-file $(__scc_files)
}


export PATH="$(pwd)/build-muon/kfc-cli:$(pwd)/.bin:$PATH"
__scc_report
