[submodule "submodules/iTerm2-Color-Schemes"]
	path = submodules/iTerm2-Color-Schemes
	url = https://github.com/mbadolato/iTerm2-Color-Schemes
[submodule "submodules/incbin"]
	path = submodules/incbin
	url = https://github.com/graphitemaster/incbin
[submodule "submodules/c_fsio"]
	path = submodules/c_fsio
	url = https://github.com/sagiegurari/c_fsio
[submodule "submodules/c_stringfn"]
	path = submodules/c_stringfn
	url = https://github.com/sagiegurari/c_stringfn
[submodule "submodules/c_string_buffer"]
	path = submodules/c_string_buffer
	url = https://github.com/sagiegurari/c_string_buffer
[submodule "submodules/kitty-themes"]
	path = submodules/kitty-themes
	url = https://github.com/dexpota/kitty-themes.git
[submodule "submodules/kitty-themes-kovidgoyal"]
	path = submodules/kitty-themes-kovidgoyal
	url = https://github.com/kovidgoyal/kitty-themes
[submodule "submodules/theme.sh"]
	path = submodules/theme.sh
	url = https://github.com/lemnos/theme.sh
